<div class="row text-center categorias justify-content-center">
  <div class="col-md-2 categoria-item">
    <img src="assets/icons/avaliar.png" class="categoria-icon">
    <p>Mais Avaliados</p>
  </div>
  <div class="col-md-2 categoria-item">
    <img src="assets/icons/desconto.png" class="categoria-icon">
    <p>Promoção</p>
  </div>
  <div class="col-md-2 categoria-item">
    <img src="assets/icons/vaca.png" class="categoria-icon">
    <p>Carne Bovina</p>
  </div>
  <div class="col-md-2 categoria-item">
    <img src="assets/icons/porco.png" class="categoria-icon">
    <p>Carne Suína</p>
  </div>
  <div class="col-md-2 categoria-item">
    <img src="assets/icons/peixe.png" class="categoria-icon">
    <p>Peixe</p>
  </div>
  <div class="col-md-2 categoria-item">
    <img src="assets/icons/galinha.png" class="categoria-icon">
    <p>Frango</p>
  </div>

  <div class="bor-bar"></div>
</div>
