<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Carrossel de Imagens -->
<app-carousel></app-carousel>

<!-- Categorias -->
<div class="container mt-4">
  <app-categorias></app-categorias>
</div>

<!-- Catálogo de Nutricionistas -->
<div class="container mt-5 home-nutri text-center">
  <h2 class="heading">Nutricionistas em Destaque</h2>
  <br>
  <app-catalogo></app-catalogo>
</div>

<!-- Itens promoção -->
<div class="container mt-5 home-nutri" >
  <h2 class="heading text-center">Promoções do Dia</h2>
  <app-carousel-itens-promocao></app-carousel-itens-promocao>
</div>
